html {
    font-family: sans-serif;
}

.container {
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: #33ccff;
    margin-left: 35%;
    border-radius: 50%;
}

h1 {
    font-size: 50px;
    color: #ffffff;
}

.button {
    color: #000000;
    font-size: 40px;
    margin: 5px;
    border: none;
    background-color: transparent
}