html {
    font-family: sans-serif;
    user-select: none;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #33ccff;
    width: 500px;
    height: 800px;
    text-align: center;
}

.flag {
    margin-bottom: -15%;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: -15%;
}

.scrollbar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20%;
    margin-left: 90%;
}

.library-container {
    margin-top: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    flex-direction: row;
}

.country-container {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 2%;
}

.flag {
    margin-top: 0;
    margin-right: 3%;
    width: 15%;
    height: 50px;
    object-fit: cover;
}

.library-img {
    margin-left: -10%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.library-label {
    margin-top: 1%;
    font-size: 40px;
    font-weight: bold;
}

.back-button {
    cursor: pointer;
    margin-left: 1%;
    margin-top: 3%;
    align-self: flex-start;
    font-size: 30px;
    background-color: transparent;
    border: none
}

.up {
    cursor: pointer;
    margin-bottom: 1000%;
    font-size: 30px;
    background-color: transparent;
    border: none
}

.down {
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    border: none
}

.countries-container {
    margin-left: 5%;
    /* overflow-y: scroll; */
    scrollbar-width: none;
    overflow-y: scroll;
    height: 650px;
    width: 475px;
}

.bottom-container {
    margin-top: 15%;
}