html {
    font-family: sans-serif;
    user-select: none;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #33ccff;
    width: 500px;
    height: 800px;
    text-align: center;
}

.header {
    padding-top: 25%;
    font-size: 50px;
    color: #000000;
}

.button {
    color: #000000;
    font-size: 30px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 5px #000000;
    cursor: pointer;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 5%;
}

.circle {
    display: grid;
    /* width: 150px; */
    /* height: 150px; */
    width: 150px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 75px;
    /* padding: 50px; */
    border-width: 5px;
    border-style: solid;
    border-color: #000000;
    border-radius: 50%;
}

.score {
    background-color: #009b2e;
}

.connector {
    font-size: 35px;
}

.total-score {
    background-color: #ffb900;
}


/* .total-score {
    margin-left: 5%;
    padding: 10%;
    background-color: #ffb900;
    border-radius: 50%;
} */

/* .score {
    align-self: center;
} */

.page {
    margin-right: 1%;
    align-self: flex-end;
}